<template name="front">

<!--  Toolbar   -->

<nav>
  <div class="nav-wrapper green darken-4">
    <a href="#" class="brand-logo center"><img src="img/peacockfacefinal.png"> peacock</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Meet the Team</a></li>
      <li><a href="badges.html">Join our Newsletter</a></li>
      <li><a href="collapsible.html">Whitepaper</a></li>
    </ul>
  </div>



</nav>


<!--  Parallax scrolling images for front page

<div id="parallax-style">

 <div class="parallax-container">
   <div class="parallax"><img class ="responsive-img" src="img/cloudline.png"></div>
   <div class="parallax"><img class ="responsive-img" src="img/finalbuildingline.png"></div>
   <div class="parallax"><img class ="responsive-img" src="img/triangle.png"></div>
   <div class="parallax"><img class ="responsive-img" src="img/greenhouses.png"></div>
 </div>
</div>


  < Initializer for parallax using materialize >
 <script> $(document).ready(function () { $('.parallax').parallax({}); }); </script>

-->



</template>
