<template name="footer">

      <!--   Footer with social links and icons -->

 <footer class="page-footer green darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Lorem ipsum dolor sit amet</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Lorem ipsum dolor sit amet</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Lorem ipsum dolor sit amet</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Lorem ipsum dolor sit amet</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Peacock LLC
            <a class="grey-text text-lighten-4 right" href="#!">Lorem ipsum dolor sit amet</a>
            </div>
          </div>
        </footer>

</template>
