<template name="promotable">

  <div class="promotable container">
    <div class="section">

      <!--   Icon Section with short descriptions  -->
      <div class="row">
        <div class="col s12 m4">

            <h2 class = "center"> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10948-200.png"></h2>
            <h5 class="center">Lorem ipsum dolor sit amet</h5>

            <p class="light">Lorem ipsum dolor sit amet, ne postea iracundia definitionem has, ad ferri delenit argumentum sit. Et vis adhuc minim maiorum. Option omittam detracto ea his, mel ne ceteros contentiones. An graeco dolorem eloquentiam vel, at nec tation accusata, in pro dicit omnes.</p>

        </div>

        <div class="col s12 m4">
            <h2 class = "center"> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/24572-200.png"></h2>
            <h5 class="center">Lorem ipsum dolor sit amet</h5>

            <p class="light">Lorem ipsum dolor sit amet, ne postea iracundia definitionem has, ad ferri delenit argumentum sit. Et vis adhuc minim maiorum. Option omittam detracto ea his, mel ne ceteros contentiones. An graeco dolorem eloquentiam vel, at nec tation accusata, in pro dicit omnes.</p>
        </div>

        <div class="col s12 m4">
            <h2 class = "center"> <img src="https://marketplace.canva.com/MAB60e_c_p8/1/thumbnail/canva-delivery-truck-MAB60e_c_p8.png"></h2>
            <h5 class="center">Lorem ipsum dolor sit amet</h5>

            <p class="light">Lorem ipsum dolor sit amet, ne postea iracundia definitionem has, ad ferri delenit argumentum sit. Et vis adhuc minim maiorum. Option omittam detracto ea his, mel ne ceteros contentiones. An graeco dolorem eloquentiam vel, at nec tation accusata, in pro dicit omnes.</p>
        </div>
      </div>

    </div>
    <br><br>
  </div>
</template>
